<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIELSEN &copf;</title>
    <link rel="icon" type="image/png" href="static\logo.jpg">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <section class="contact-section">
        <div class="container">
            <div class="contact-content">
                <div class="contact-form">
                   <h2>Reset Password</h2>
                   <form method="POST">
                   {{ form.hidden_tag() }}
                   {{ form.password.label }} 
                   {{ form.password(class_='form-control') }}
                   {{ form.confirm_password.label }} {{ form.confirm_password(class_='form-control') }}
                   {{ form.submit(class_='btn btn-primary') }}
                   </form>
                </div>
                <div class="contact-image">
                    <img src="static/blackwhite.jpg" alt="Image for blending">
                    <h3>Lucy Nthambi</h3>
                    <p>Communications</p>
                </div>
            </div>
        </div>
    </section>

</body>
</html>